.menu-semanal {
  padding: 80px 50px;
}

.dia {
  display: flex;
  align-items: flex-start;
  text-align: center;
  justify-content: center;
  margin-bottom: 30px;
  gap: 20px;
}

.dia h2 {
  min-width: 100px;
}

.meals-grid {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.meal-card {
  background: var(--rtc-color3);
  position: relative;
  border-radius: 30px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 220px;
  padding: 1rem;
  text-align: center;
}

.meal-card img {
  width: 100%;
  height: 140px;
  object-fit: cover;
  border-radius: 30px;
}
